{% extends "base.html" %}
{% load i18n tags staticfiles %}

{% block title %}{% trans 'Contact us' %}{% endblock %}


{% block page_title %} {% trans 'Contact us' %} {% endblock %}


{#{% block left_menu %}#}
{##}
{#    <h3 class="p5">{% trans 'Find Us' %}</h3>#}
{##}
{#    <div class="map img-border">#}
{#        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"#}
{#                src="https://maps.google.ru/maps/ms?msa=0&amp;msid=211356737080948881956.0004c1532dd47a4c58f94&amp;ie=UTF8&amp;t=m&amp;ll=50.319655,57.150793&amp;spn=0.016441,0.025749&amp;z=14&amp;output=embed"></iframe>#}
{#    </div>#}
{#    <dl>#}
{#        <dt>{% trans 'Kazakhstan, Aktobe, <br> 312 Infantry Division 44-B' %}</dt>#}
{#        <dd><span>Телефон: </span>+7 7132 937 230</dd>#}
{#        <dd><span>Факс: </span>+7 7132 773 920</dd>#}
{#        <dd><span>E-mail: </span><a href="mailto:akenergo@yandex.kz" class="link">akenergo@yandex.kz</a></dd>#}
{#    </dl>#}
{##}
{#{% endblock %}#}


{% block page_content %}


    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a href="#contact_us" data-toggle="tab">{% trans 'Contact form' %}</a></li>
        <li><a href="#find_us" data-toggle="tab">{% trans 'Find Us' %}</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="contact_us">
            {% trans 'Send message' as submCaptrans %}
            <div style="margin-top: 10px">
            {% include 'blocks/standard_form.html' %}
            </div>
        </div>
        <div class="tab-pane fade" id="find_us">

            <div class="row" style="margin-top: 10px">
                <div class="col-md-3">
                    <h4>{% trans 'Find Us' %}</h4>
                    <address>
                        <strong>{% trans 'LLP Aktobeenergosnab' %}</strong><br>
                        {% trans 'Kazakhstan, Aktobe, <br> 312 Infantry Division 44-B' %}<br>
                        <strong>Телефон:</strong> +7 7132 700-230<br>
                        <strong>Факс</strong> +7 7132 773-920<br>
                    </address>
                </div>


                <div class="col-md-4">
                    <div class="map img-border">
                         <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?t=m&amp;ie=UTF8&amp;ll=50.322149,57.15251&amp;spn=0.009727,0.026157&amp;z=16&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?t=m&amp;ie=UTF8&amp;ll=50.322149,57.15251&amp;spn=0.009727,0.026157&amp;z=16&amp;source=embed" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $('#id_subject').focus();
            $('#id_message').closest('div').addClass('col-md-7');
            mySubmitAjaxForm('#standard_form');
            $('#standard_form').find('.captcha').css('margin-bottom', 5);
        });
    </script>
{% endblock %}
