{% load i18n %}
{% load tags %}
{% load staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Сайт энергоснабжающей организации Актобе и Актюбинской области">
    <meta name="author" content="Игорь Майданенко (supermet@list.ru)">

    <meta name='yandex-verification' content='66ce583f5c149a57'/>
    <meta name="google-site-verification" content="sGSmTDCsGw370b8uc_lO9VDdiu6kf2yDVj9u6jS5oXw"/>

    {# {% trans 'LLP Aktobeenergosnab' %}#}

    <title>{% block title %}{% endblock %} </title>


    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/datepicker3.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/my_new.css" %}"/>
    {% endblock %}

    <!--[if lt IE 9]>
      <script src="{% static "js/ie8-responsive-file-warning.js" %}"></script>
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5shiv.js" %}"></script>
      <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->


    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">


    <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
    <script src="//yandex.st/share/share.js" charset="utf-8"></script>
    <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "js/locales/bootstrap-datepicker.ru.js" %}" charset="UTF-8"></script>
    <script src="{% static "js/locales/bootstrap-datepicker.kk.js" %}" charset="UTF-8"></script>
    <script src="{% static 'js/my.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/additional-methods.min.js' %}"></script>
   {% ifequal LANGUAGE_CODE|slice:":2" 'ru' %}
    <script src="{% static 'js/locales/messages_ru.js' %}" charset="UTF-8"></script>
   {% endifequal %}
   {% ifequal LANGUAGE_CODE|slice:":2" 'kk' %}
    <script src="{% static 'js/locales/messages_kk.js' %}" charset="UTF-8"></script>
   {% endifequal %}


    <script src="{% static 'js/scrollup_button.js' %}"></script>

    <script>
        $(document).ready(function () {

            $('div.input-required > input, div.input-required > textarea, div.input-required > select').attr('required', true);
            $('a[data-toggle=tooltip]').tooltip();
            $("a[data-toggle=popover], button[data-toggle=popover]").popover({ trigger: "hover focus", delay: 127 });

            $('#google_search_form').submit(function (event) {
                return $.trim($(this).find(':input[name=q]').val()) != '';
            });
            $(':input', $('form')).not(':button, :submit, :reset, :radio, :checkbox').addClass('form-control');
            $.ajaxSetup({ cache: false });
            myRefreshCaptcha('{% url 'captcha-refresh' %}', '{% trans 'Update' %}');
        });
    </script>

    {% block jivochat %}
        <!-- BEGIN JIVOSITE CODE {literal} -->
        <script type='text/javascript'>
            (function () {
                var widget_id = '109431';
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            })();</script>
        <!-- {/literal} END JIVOSITE CODE -->
    {% endblock %}

    {% block js %}
    {% endblock %}


</head>


<body {% block body_style %}{% endblock %}>

{% block ajax_search %}
{#    <div id="ajax_results" class="modal fade" tabindex="-1" role="dialog"#}
{#         aria-labelledby="myAjaxModalLab" aria-hidden="true">#}
{#        <div class="modal-dialog">#}
{#            <div class="modal-content">#}
{##}
{#                <div class="modal-header">#}
{#                    <button type="button" class="close" data-dismiss="modal"#}
{#                            aria-hidden="true">&times;</button>#}
{#                    <h4 class="modal-title" id="myAjaxModalLab"></h4>#}
{#                </div>#}
{#                <div class="modal-body">#}
{##}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <!-- /.modal-content -->#}
{#        </div>#}
{#        <!-- /.modal-dialog -->#}
{#    </div><!-- /.modal -->#}
     <!-- Modal -->
    <div class="modal fade" id="modalSearch" tabindex="-1" role="dialog" aria-labelledby="modalSearchLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="modalSearchLabel"></h4>
                </div>
                <div class="modal-body">
                    <div class="modal-body-form"></div>
                    <h4 style="margin-top: 30px; margin-bottom: 30px" class="modal-body-header"></h4>
                    <div class="modal-body-body"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Log out' %}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block body %}

    {% block top_menu %}
        {% top_menu %}
    {% endblock %}

    {% block header %}
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 style="word-wrap: break-word">
                    <a href="/">
                        <img class="img-rounded" src="{% static "img/energo.jpg" %}" alt="">
                    </a>
                    {% trans 'LLP Aktobeenergosnab' %}
                </h1>

                <p>{% trans 'Welcome to our site!' %}</p>

                {% if not user.is_authenticated %}
                    <div class="btn-group">
                        <a class="btn btn-lg btn-primary"
                           href="{% url 'auth_login' %}">{% trans 'Log in' %} &raquo;</a>
                        <a class="btn btn-lg btn-success"
                           href="{% url 'registration_register' %}">{% trans 'Registration' %} &raquo;</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endblock %}

    <div class="container">
        {% block select_language %}
            <div class="pull-right" style="margin-bottom: 5px">
                {% include "blocks/lang_block.html" %}
            </div>
            <div class="clearfix"></div>
        {% endblock %}
        <!--==============================content================================-->
        <div class="row">
            <!--  Nav -->
            {% block left_menu %}
                <div class="col-md-3">
                    {% block login %}
                        {% include "blocks/login_block.html" %}
                    {% endblock %}
                    {% block menu_block %}
                        {% include "blocks/menu_block.html" %}
                    {% endblock %}
                    {% block news_block %}
                        {% recent_news_list %}
                    {% endblock %}
                    {#                    {% block recent_comments %}#}
                    {#                        {% include "blocks/recent_comments.html" %}#}
                    {#                    {% endblock %}#}
                </div>
            {% endblock %}

            {% block page %}
                <!--Page  -->
                <div class="{% block page_class %}col-md-9{% endblock %}">


                    {% block show_breadcrumbs %}
                        {% breadcrumbs %}
                    {% endblock %}


                    <div class="page-header">
                        <h2>{% block page_title %}{% endblock %}</h2>
                    </div>

                    {% block messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} fade in">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}

                    {% block page_content %}
                    {% endblock %}

                </div>

            {% endblock %}

        </div>

    </div>
    <!--  container -->

    <!-- Footer
    ================================================ -->
    {% block footer %}

        <footer class="footer">
            <div class="container">

                {#                <p class="pull-right">#}
                {#                    <a href="javascript:scroll(0,0)"><i class="icon-arrow-up"></i>{% trans 'Go top' %}</a>#}
                {#                </p>#}

                {% block informers %}
                    {% include "blocks/informers.html" %}
                {% endblock %}

                {% block bottom_menu %}
                    {% bottom_menu %}
                {% endblock %}


                {#                <p>Created by#}
                {#                    <a href="{% url 'show_page' 'author' %}">Maydanenko Igor</a> &copy; 2012-2013#}
                {#                </p>#}
                <p>
                    <a href="{% url 'show_page' 'author' %}">О сайте</a> &nbsp; &copy; {% trans 'Aktobeenergosnab' %}
                </p>

                <div class="pull-right">
                    {% include 'blocks/liveinternet.html' %}
                </div>
            </div>
        </footer>
    {% endblock %}

{% endblock %}

</body>
</html>
