{% load i18n %}
{% load tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>  {% trans 'LLP Aktobeenergosnab' %} - {% block title %}{% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Сайт энергоснабжающей организации">
    <meta name="author" content="Igor Maydanenko">

    <meta name='yandex-verification' content='66ce583f5c149a57'/>
    <meta name="google-site-verification" content="sGSmTDCsGw370b8uc_lO9VDdiu6kf2yDVj9u6jS5oXw"/>


    {% block css %}

        <link rel="stylesheet" type="text/css" href="{% static "css/my_new.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/datepicker.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-responsive.min.css" %}"/>

        {#        <style type="text/css" {% block css_media %} media="screen, handheld" {% endblock %}>#}
        {#            @import "{% static "css/bootstrap.min.css" %}";#}
        {#            @import "{% static "css/my_new.css" %}";#}
        {#            @import "{% static "css/datepicker.css" %}";#}
        {#            @import "{% static "css/bootstrap-responsive.min.css" %}";#}
        {#        </style>#}

        {#        <style type="text/css" media="print">#}
        {#            @import "{% static "css/print.css" %}";#}
        {#        </style>#}


    {% endblock %}

    {% block js %}
        <script src="{% static "js/jquery-2.0.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.js" %}"></script>
        <script src="//yandex.st/share/share.js" charset="utf-8"></script>
        <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
        <script src="{% static "js/jquery.form.js" %}"></script>

        <script src="{% static 'js/my.js' %}"></script>

    {% endblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5.js" %}"></script>
    <![endif]-->

    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="Ваш браузер устарел! Для более быстрого и безопасного просмотра обновитесь." />
        </a>
      </div>
    <![endif]-->

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
</head>


<body {% block body_style %}{% endblock %}>

{% block body %}

    {% block top_menu %}
        {% top_menu %}
    {% endblock %}



    <div class="container-fluid">

        {% block header %}
            <div style="padding: 40px;" class="hero-unit">
                <h1 style="font-size: 50px;">
                    <a href="/">
                        <img class="img-rounded" src="{% static "img/energo.jpg" %}" alt="">
                    </a>
                    {% trans 'LLP Aktobeenergosnab' %}
                </h1>

                <p style="margin-top: 10px;">{% trans 'Welcome to our site!' %}</p>

                {% if not user.is_authenticated %}
                    <div class="btn-group">
                        <a class="btn btn-large btn-primary"
                           href="{% url 'auth_login' %}">{% trans 'Log in' %} &raquo;</a>
                        <a class="btn btn-large btn-success"
                           href="{% url 'registration_register' %}">{% trans 'Registration' %} &raquo;</a>
                        {#                        <a href="{% url 'show_page' 'about' %}"#}
                        {#                           class="btn btn-large btn-info">{% trans 'About the company' %} &raquo;</a>#}
                    </div>
                {% endif %}

            </div>
        {% endblock %}

        <!--==============================content================================-->
        <div class="row-fluid">
            <!--  Nav -->
            {% block left_menu %}
                <div class="span3">

                    {% block select_language %}
                        {% include "blocks/lang_block.html" %}
                    {% endblock %}

                    {% block login %}
                        {% include "blocks/login_block.html" %}
                    {% endblock %}

                    {% block menu_block %}
                        {% include "blocks/menu_block.html" %}
                    {% endblock %}

                    {% block news_block %}
                        {% recent_news_list %}
                    {% endblock %}

                    {#                    {% block recent_comments %}#}
                    {#                        {% include "blocks/recent_comments.html" %}#}
                    {#                    {% endblock %}#}

                </div>
            {% endblock %}

            {% block page %}
                <!--Page  -->
                <div class="{% block page_class %}span9{% endblock %}">

                    {% block show_breadcrumbs %}
                        {% breadcrumbs %}
                    {% endblock %}

                    <div class="page-header">
                        <h2>{% block page_title %}{% endblock %}</h2>
                    </div>

                    {% block messages %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} fade in">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}

                    {#                    {% block ajax_messages %}#}
                    {#                        <div style="min-height: 38px; margin-bottom: 20px">#}
                    {#                            <div style="margin-bottom: 0" class="hide alert alert-info fade in">#}
                    {#                                <strong id="ajax_message"></strong>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    {% endblock %}#}
                    {% block ajax_results %}
                        <div id="ajax_results" class="modal hide fade" tabindex="-1">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-hidden="true">&times;</button>
                                <h3>Modal header</h3>
                            </div>
                            <div class="modal-body">
                                <p>One fine body…</p>
                            </div>
                            <div class="modal-footer">
                              <button class="btn" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    {% endblock %}


                    {% block page_content %}
                    {% endblock %}

                </div>

            {% endblock %}


        </div>

    </div>
    <!--  container -->

    <!-- Footer
    ================================================ -->
    {% block footer %}
        <footer class="footer">
            <div class="container-fluid">

                <p class="pull-right">
                    <a href="javascript:scroll(0,0)"><i class="icon-arrow-up"></i>{% trans 'Go top' %}</a>
                </p>

                {% block informers %}
                    {% include "blocks/informers.html" %}
                {% endblock %}


                {#                <div class="links">#}
                {#                    <a href="http://news.bootswatch.com/" onclick="pageTracker._link(this.href); return false;">Blog</a>#}
                {#                    <a href="http://feeds.feedburner.com/bootswatch">RSS</a>#}
                {#                    <a href="https://twitter.com/thomashpark">Twitter</a>#}
                {#                    <a href="https://github.com/thomaspark/bootswatch/">GitHub</a>#}
                {#                    <a href="https://github.com/thomaspark/bootswatch/tree/gh-pages/swatchmaker">Swatchmaker</a>#}
                {#                    <a href="http://news.bootswatch.com/post/22193315172/bootswatch-api">API</a>#}
                {#                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=F22JEM3Q78JC2">Donate</a>#}
                {#                </div>#}
                {##}
                {#                <ul class="footer-links">#}
                {#                    <li><a href="http://blog.getbootstrap.com">Blog</a></li>#}
                {#                    <li class="muted">&middot;</li>#}
                {#                    <li><a href="https://github.com/twitter/bootstrap/issues?state=open">Issues</a></li>#}
                {#                    <li class="muted">&middot;</li>#}
                {#                    <li><a href="https://github.com/twitter/bootstrap/wiki">Roadmap and changelog</a></li>#}
                {#                </ul>#}

                {% block bottom_menu %}
                    {% bottom_menu %}
                {% endblock %}

                {#                <p>&copy; 2013, {% trans 'Aktobeenergosnab' %}</p>#}
                <p>Created by
                    <a href="{% url 'show_page' 'author' %}">Maydanenko Igor</a> &copy; 2012-2013
                </p>

                <div class="pull-right">
                    {% include 'blocks/counter_block.html' %}
                </div>
            </div>
        </footer>
    {% endblock %}

{% endblock %}
</body>
</html>
