{% extends "base_nomenu.html" %}
{% load i18n tags %}

{% block title %}
    {% if not debtors_pages %}
        {% trans 'Not found' %}
    {% else %}
        {% if ur_lica %}
            {% trans 'List of debtors of legal entities' %}
        {% else %}
            {% trans 'List of debtors transferred to off' %}
        {% endif %}
    {% endif %}
{% endblock %}


{% block page_title %}
    {% if not debtors_pages %}
        {% trans 'Not found' %}
    {% else %}
        {% if ur_lica %}
            {% trans 'List of debtors of legal entities' %}
        {% else %}
            {% trans 'List of debtors transferred to off' %} ({{ today|date:'F Y'|lower }})
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_content %}
    {#    {% if perms.energosite.view_debuch %}#}

    {% if debtors_pages %}
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>№</th>
                {% if ur_lica %}
                    <th>{% trans 'Сontract' %}</th>
                    <th>{% trans 'Name of debtor' %}</th>
                    <th>{% trans 'Debt over a month' %}</th>
                {% else %}
                    <th>{% trans 'Personal number' %}</th>
                    <th>{% trans 'Address' %}</th>
                    <th>
                        {% blocktrans with data_debt=today|date:"01.m.Y" %}Remainder of a debt at {{ data_debt }}{% endblocktrans %}
                    </th>
                {% endif %}
            </tr>
            </thead>

            <tbody>
            {% for deb in debtors_pages.object_list %}
                <tr>
                    <td> {{ deb.nomer }}</td>
                    <td> {{ deb.nls }}</td>
                    {% if ur_lica %}
                        <td> {{ deb.fio }}</td>
                    {% else %}
                        <td> {{ deb.address }}</td>
                    {% endif %}
                    <td> {{ deb.dolg|currency }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


       {% show_pager debtors_pages 4 %}



    {% endif %}

    {#    {% else %}#}
    {#        {% trans "You don't have permission's" %}#}
    {#    {% endif %}#}


{% endblock %}