{% extends "base.html" %}
{% load i18n %}
{% load gravatar %}

{% block title %}{% trans 'Edit profile' %}{% endblock %}
{% block page_title %}{% trans 'Edit profile' %}{% endblock %}
{% block page_content %}


    <div style="margin-left: 30px; margin-bottom: 30px;" class="media">
        <a class="pull-left" href="http://www.gravatar.com/" title="Сменить аватар" target="_blank">
            <img class="media-object" src="{% gravatar_url request.user.email %}" alt=""/>
        </a>

        <div class="media-body">
            <h4 class="media-heading">{% trans 'Information' %}</h4>
            <ul class="list-unstyled">
                <li><strong> {% trans 'Client name' %}: </strong> <span id="info_fio">{{ fio }}</span></li>
                <li><strong> {% trans 'Address' %}: </strong> <span id="info_address">{{ address }}</span></li>
                <li><strong> E-mail: </strong> <span id="info_email">{{ email }}</span></li>
            </ul>
        </div>
    </div>



    <form id="edit_profile_frm" class="form-horizontal" method="post">
        {% csrf_token %}

        <div style="margin-bottom: 10px;" class="form-group{% if form.nls.errors %} has-error{% endif %}">
            <label class="col-lg-3 control-label" for="id_nls">{{ form.nls.label }}:</label>

            <div class="col-lg-6">
                {{ form.nls }}

                <ul class="help-block list-unstyled">
                    {% for error in form.nls.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                    <li>
                        <a href="{% url 'search_fio' %}">{% trans 'Search by surname' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'search_address' %}">{% trans 'Search by address' %}</a>
                    </li>
                </ul>

            </div>
        </div>

        <div style="margin-bottom: 10px;" class="form-group{% if form.home_phone.errors %} has-error{% endif %}">
            <label class="col-lg-3 control-label" for="id_home_phone">{{ form.home_phone.label }}:</label>

            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">+7</span>
                    {{ form.home_phone }}
                </div>
                <ul class="help-block list-unstyled">
                    {% for error in form.home_phone.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                    <li><span class="text-warning">7132 * * * * * *</span></li>
                </ul>
            </div>
        </div>

        <div style="margin-bottom: 10px;" class="form-group{% if form.mobile_phone.errors %} has-error{% endif %}">
            <label class="col-lg-3 control-label" for="id_mobile_phone">{{ form.mobile_phone.label }}:</label>

            <div class="col-lg-6">
                <div class="input-group">
                    <span class="input-group-addon">+7</span>
                    {{ form.mobile_phone }}
                </div>
                <ul class="help-block list-unstyled">
                    {% for error in form.mobile_phone.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div style="margin-bottom: 10px;" class="form-group{% if form.mailing.errors %} has-error{% endif %}">
            <div class="col-lg-offset-3 col-lg-6">
                <div class="checkbox">
                    <label>
                        {{ form.mailing }} {{ form.mailing.label }}
                    </label>
                </div>
                <ul class="help-block list-unstyled">
                    {% for error in form.mailing.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% for error in form.non_field_errors %}
                    <ul class="list-unstyled">
                        <li>{{ error|escape }}</li>
                    </ul>
                {% endfor %}
            </div>
        {% endif %}


        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-6">
                <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            </div>
        </div>

    </form>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            $('#id_nls').focus();
            mySubmitAjaxForm('#edit_profile_frm');
        });
    </script>
{% endblock %}

