{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


<ul class="nav nav-pills">
    {% for lang in LANGUAGES %}
        {% get_language_info for lang.0 as lang_info %}
        <li {% ifequal lang.0 LANGUAGE_CODE|slice:":2" %}class="active"{% endifequal %}>
            <a href="#" onclick="setLang('{{ lang.0 }}', '{{ LANGUAGE_CODE|slice:":2" }}'); return false;" data-toggle="tooltip"
               data-placement="top"
               title="{{ lang_info.name_local }}">{{ lang.1 }}</a>
        </li>
    {% endfor %}
</ul>

<form id="langForm" action="{% url 'set_language' %}" method="post" style="display:none;">
    {% csrf_token %}
    <select id="langFormSelect" name="language">
        {% for lang in LANGUAGES %}
            <option value="{{ lang.0 }}">{{ lang.1 }}</option>
        {% endfor %}
    </select>
</form>


<script type="text/javascript">
    function setLang(lang_new, lang_old) {
        if (lang_new != lang_old) {
            document.getElementById('langFormSelect').value = lang_new;
            document.getElementById('langForm').submit();
        }
        return false;
    }
</script>

