{% load i18n %}
{% load tags %}

{% url 'auth_password_change' as auth_password_change %}
{% url 'auth_logout' as auth_logout %}
{% url 'auth_login' as auth_login %}
{% url 'registration_register' as registration_register %}
{% url 'auth_password_reset' as auth_password_reset %}
{% url 'home' as home %}

{% if user.is_authenticated %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">{% trans 'Hello' %}, {{ user.username }}</h3>
        </div>
        <div class="panel-body" style="padding: 1px">
            <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
                <li class="{% current_nav auth_password_change %}">
                    <a href="{{ auth_password_change }}"><i
                            class="glyphicon glyphicon-pencil"></i> {% trans 'Password change' %}</a>
                </li>
                <li>
                    <a href="{{ auth_logout }}"><i class="glyphicon glyphicon-off"></i> {% trans 'Log out' %}</a>
                </li>

                {#        {% else %}#}
                {##}
                {#            <li class="{% current_nav auth_login %}">#}
                {#                <a href="{{ auth_login }}"><i class="glyphicon glyphicon-lock"></i> {% trans 'Log in' %}</a>#}
                {#            </li>#}
                {#            <li class="{% current_nav registration_register %}">#}
                {#                <a href="{{ registration_register }}"><i class="glyphicon glyphicon-plus-sign"></i> {% trans 'Registration' %}</a>#}
                {#            </li>#}
            </ul>
        </div>
    </div>
{% endif %}


