{% load i18n %}
{% load tags %}

{% url 'edit_profile' as edit_profile %}
{% url 'meter_reading' as meter_reading %}
{% url 'view_payment' as view_payment %}
{% url 'kvit_page' as kvit_page %}


{% url 'upload_data' as upload_data %}
{% url 'load_reading' as load_reading %}
{% url 'recon_rep_page' as view_recon_rep %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans 'User menu' %}</h3>
    </div>
    <div class="panel-body" style="padding: 1px">
        <div class="list-group" style="margin-bottom: 0">

            {% if user.is_authenticated %}
                <a class="list-group-item {% current_nav edit_profile %}" href="{{ edit_profile }}">
                    <i class="glyphicon glyphicon-edit"></i> {% trans 'Edit profile' %}
                </a>
            {% endif %}

            <a class="list-group-item {% current_nav kvit_page %}" href="{{ kvit_page }}">
                <i class="glyphicon glyphicon-file"></i> {% trans 'Receipt' %}
            </a>

            {% get_department as depid %}


            <a class="list-group-item {% current_nav view_recon_rep %}" href="{{ view_recon_rep }}">
                <i class="glyphicon glyphicon-move"></i> {% trans 'Reconciliation report' %}
            </a>


            <a class="list-group-item {% current_nav view_payment %}" href="{{ view_payment }}">
                <i class="glyphicon glyphicon-usd"></i> {% trans 'View payment and debt' %}
            </a>


            <a class="list-group-item {% current_nav meter_reading %}" href="{{ meter_reading }}">
                <i class="glyphicon glyphicon-arrow-down"></i> {% trans 'Readings input' %}
            </a>

            {% if perms.energosite %}
                {% if perms.energosite.add_tables %}

                    <a class="list-group-item {% current_nav upload_data %}" href="{{ upload_data }}">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                        Загрузка данных по абонентам
                    </a>

                {% endif %}

                {% if perms.energosite.view_meter_reading %}
                    <a class="list-group-item {% current_nav load_reading %}" href="{{ load_reading }}">
                        <i class="glyphicon glyphicon-download-alt"></i>
                        Скачать показания
                    </a>

                {% endif %}
            {% endif %}
        </div>
    </div>
</div>


