{% load i18n %}

{#{% if form.errors %}#}
{#    <div class="alert alert-danger">#}
{#        <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#        {% trans 'Please correct the errors below' %}#}
{#    </div>#}
{#{% endif %}#}

<form id="standard_form" class="form-horizontal" action="{{ ACTION|default:'' }}"
      method="{{ REQ_METHOD|default:'POST' }}">
    {% csrf_token %}

    {% for field in form %}

        <div class="form-group{% if field.errors %} has-error{% endif %}">
            {#                <label class="col-md-2 control-label" for="id_username">{% trans 'Username' %}:</label>#}

            <label class="col-md-2 control-label" for="{{ field.auto_id }}">{{ field.label }}: </label>

            <div class="col-md-5 {% if field.field.required %}input-required{% endif %}">

                {{ field }}

                <ul class="help-block list-unstyled">
                    {% for error in field.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                    {% ifequal field.name 'nls' %}
                        <li>
                            <a href="{% url 'search_fio' %}">{% trans 'Search by surname' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'search_address' %}">{% trans 'Search by address' %}</a>
                        </li>
                    {% endifequal %}
                </ul>
            </div>
        </div>

    {% endfor %}


    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul class="list-unstyled">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {#    <div id="ajax_non_field_errors" style="display: none;" class="alert alert-danger">#}
    {#    </div>#}

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <button type="submit" class="btn btn-primary">{{ submCaptrans|default:'OK' }}</button>
        </div>
    </div>

</form>

