{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Authorization for the site' %}{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock %}

{% block body %}

    <div class="container">

        {% if user.is_authenticated %}

            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> {% trans 'Home' %}</a>
                </li>
            </ul>

        {% else %}

            <form id="login_form" class="form-signin" action="" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">{% trans 'Authorization for the site' %} {% trans 'Aktobeenergosnab' %}</h2>

                <p class="text-warning">
                    {% trans 'To access the data you need to log in' %}
                </p>
                {{ form.username }}
                {{ form.password }}
                <input type="hidden" name="this_is_the_login_form" value="1"/>
                <input type="hidden" name="next" value="{{ next|default:'/' }}"/>


                {% if form.errors %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" style="margin-bottom: 10px;">
                            <ul class="list-unstyled">
                                {% for error in form.non_field_errors %}
                                    <li>{{ error|escape }}</li>
                                    {% if user_inactive %}
                                        <li>
                                            <a href="{% url 'resend_activation_link' %}">
                                                <i class="glyphicon glyphicon-envelope"></i>
                                                {% trans 'Resend activation link' %}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if form.username.errors %}
                        <div class="alert alert-danger" style="margin-bottom: 10px;">
                            <ul class="list-unstyled">
                                <li><strong>{{ form.username.label }}:</strong></li>
                                {% for error in form.username.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {% if form.password.errors %}
                        <div class="alert alert-danger" style="margin-bottom: 10px;">
                            <ul class="list-unstyled">
                                <li><strong>{{ form.password.label }}:</strong></li>
                                {% for error in form.password.errors %}
                                    <li>{{ error|escape }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}


                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Log in' %}</button>
                <ul class="list-unstyled text-center" style="margin-top: 20px">
                    <li style="padding: 3px 0">
                        <a href="{% url 'home' %}">
                            <i class="glyphicon glyphicon-home"></i> {% trans 'Home' %}</a>
                    </li>
                    <li style="padding: 3px 0">
                        <a href="{% url 'registration_register' %}">
                            <i class="glyphicon glyphicon-plus-sign"></i> {% trans 'Registration' %}</a>
                    </li>
                    <li style="padding: 3px 0">
                        <a href="{% url 'auth_password_reset' %}">
                            <i class="glyphicon glyphicon-refresh"></i>
                            {% trans 'Password reset' %}
                        </a>
                    </li>
                </ul>
            </form>


            {#            <div style="padding: 15px; margin: 0 auto; max-width: 345px;">#}
            {#            </div>#}


        {% endif %}
    </div> <!-- /container -->
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            //     $('#id_username').focus();
            $('#id_username').attr('placeholder', '{% trans 'Username' %} (E-mail)');
            $('#id_password').attr('placeholder', '{% trans 'Password' %}');
            $('#id_username').attr('required', true);
            $('#id_password').attr('required', true);
        });
    </script>
{% endblock %}


