{% extends "base.html" %}
{% load i18n staticfiles %}

{% block title %}{% trans 'Authorization for the site' %}{% endblock %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock %}

{% block page_title %}{% trans 'Authorization for the site' %} {% trans 'Aktobeenergosnab' %}{% endblock %}

{% block body %}

    <div class="container">

        {% if user.is_authenticated %}

            <ul class="list-unstyled">
                <li>
                    <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> {% trans 'Home' %}</a>
                </li>
            </ul>

        {% else %}

            <form class="form-signin" action="?next={{ next|default:'/' }}" method="post">
                {% csrf_token %}
                <p class="text-info">
                    {% trans 'To access the data you need to log in' %}
                </p>

                <h2 class="form-signin-heading">{% trans 'Authorization for the site' %} {% trans 'Aktobeenergosnab' %}</h2>
                <input id="id_username" maxlength="254" name="username" type="text" class="form-control"
                       placeholder="{% trans 'Username' %} (E-mail):" autofocus>
                <input id="id_password" name="password" type="password" class="form-control"
                       placeholder="{% trans 'Password' %}:">



                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {% for error in form.non_field_errors %}
                            <ul class="list-unstyled">
                                <li>{{ error|escape }}</li>
                                {% if user_inactive %}
                                    <li>
                                        <a href="{% url 'resend_activation_link' %}">
                                            <i class="glyphicon glyphicon-envelope"></i> {% trans 'Resend activation link' %}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if form.username.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <ul class="list-unstyled">
                            <li>{% trans form.username.label %}:</li>
                            {% for error in form.username.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if form.password.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <ul class="list-unstyled">
                            <li>{% trans form.password.label %}:</li>
                            {% for error in form.password.errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}


                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Log in' %}</button>

                <ul class="list-unstyled" style="margin-top: 20px">
                    <li style="padding: 3px 0">
                        <a href="{% url 'home' %}">
                            <i class="glyphicon glyphicon-home"></i> {% trans 'Home' %}</a>
                    </li>
                    <li style="padding: 3px 0">
                        <a href="{% url 'registration_register' %}">
                            <i class="glyphicon glyphicon-plus-sign"></i> {% trans 'Registration' %}</a>
                    </li>
                    <li style="padding: 3px 0">
                        <a href="{% url 'auth_password_reset' %}">
                            <i class="glyphicon glyphicon-refresh"></i> {% trans 'Password reset' %}</a>
                    </li>
                </ul>

            </form>


            <script type="text/javascript">
                {#                document.getElementById('id_username').focus();#}
                document.getElementById('id_username').setAttribute('placeholder', '{% trans 'Username' %} (E-mail)');
                document.getElementById('id_password').setAttribute('placeholder', '{% trans 'Password' %}')
            </script>

        {% endif %}


    </div> <!-- /container -->
{% endblock %}


