{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block page_title %}{% trans "Password reset" %}{% endblock %}

{% block page_content %}

    <p class="text-info">
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
    </p>

    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}

        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
            <label class="col-md-3 control-label" for="id_email">E-mail</label>

            <div class="col-md-6">
                {{ form.email }}
                <ul class="help-block list-unstyled" style="margin: 1px 0">
                    {% for error in form.email.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul class="list-unstyled">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <button type="submit" class="btn btn-primary">{% trans 'Reset my password' %}</button>
            </div>
        </div>

    </form>

{% endblock %}
