{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}
{% block page_title %}{% trans 'Password reset' %}{% endblock %}
{% block page_content %}

    {% if validlink %}

        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}


            <div class="form-group{% if form.new_password1.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_new_password1">{% trans 'New password:' %}</label>

                <div class="col-md-6">
                    {{ form.new_password1 }}
                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.new_password1.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="form-group{% if form.new_password2.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_new_password2">{% trans 'Confirm password:' %}</label>

                <div class="col-md-6">
                    {{ form.new_password2 }}
                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.new_password2.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul class="list-unstyled">
                {% for error in form.non_field_errors %}
                    <li>{{ error|escape }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <button type="submit" class="btn btn-primary">{% trans 'Change my password' %}</button>
                </div>
            </div>


        </form>

    {% else %}

        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}

{% endblock %}
