{% extends "base.html" %}
{% load i18n tags %}
{% block title %}
    {% if not user.is_authenticated %}
        {% trans 'Create an account' %}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}
{% block page_title %}
    {% if not user.is_authenticated %}
        {% trans 'Create an account' %}
    {% endif %}
{% endblock %}

{% block page_content %}

    {% get_search_fio_form as search_fio_form %}
    {% get_search_address_form as search_address_form %}
    {% trans 'Search by surname' as findByNameT %}
    {% trans 'Search by address' as findByAddressT %}
    {% include 'search/search_abonent_modal.html' with formAction='/search/fio/' searchFormId='search_form_name' searchModalId='modalSearchName' searchModalTitle=findByNameT form_variable=search_fio_form %}
    {% include 'search/search_abonent_modal.html' with formAction='/search/address/' searchFormId='search_form_address' searchModalId='modalSearchAddress' searchModalTitle=findByAddressT form_variable=search_address_form %}

    {% if user.is_authenticated %}

        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="{% url 'home' %}"><i class="glyphicon glyphicon-home"></i> {% trans 'Home' %}</a>
            </li>
        </ul>

    {% else %}

        {% get_page 'how_register' as page_info %}

        <!-- Button to trigger modal -->
        <p style="margin-bottom: 20px;">
            <a href="#myModal" class="btn btn-primary" data-toggle="modal">
                {% trans 'How to register?' %}
            </a>
        </p>

        <!-- Modal -->
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{ page_info.title }}</h4>
                    </div>
                    <div class="modal-body">
                        {% autoescape off %}
                            {{ page_info.content }}
                        {% endautoescape %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">{% trans "OK" %}</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <form id="registration_form" class="form-horizontal" method="post" action="">
            {% csrf_token %}
            <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_username">{{ form.username.label }}:</label>

                <div class="col-md-6">
                    {{ form.username }}

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.username.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        {#                        <li><span class="text-warning">{% trans 'English letters only' %}</span></li>#}
                    </ul>
                </div>
            </div>

            <div class="form-group{% if form.password1.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_password1">{{ form.password1.label }}:</label>

                <div class="col-md-6">
                    {{ form.password1 }}

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.password1.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_password2">{{ form.password2.label }}:</label>

                <div class="col-md-6">
                    {{ form.password2 }}

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.password2.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>


            <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_email">{{ form.email.label }}:</label>

                <div class="col-md-6">
                    {{ form.email }}

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.email.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <div class="form-group{% if form.nls.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_nls">{{ form.nls.label }}:</label>

                <div class="col-md-6">
                    {{ form.nls }}

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.nls.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        <li>
                            <a data-toggle="modal" href="#modalSearchName">{% trans 'Search by surname' %}</a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#modalSearchAddress">{% trans 'Search by address' %}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="form-group{% if form.home_phone.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_home_phone">{{ form.home_phone.label }}:</label>

                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">+7</span>
                        {{ form.home_phone }}
                    </div>

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.home_phone.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                        <li><span class="text-warning">7132 * * * * * *</span></li>
                    </ul>
                </div>
            </div>

            <div class="form-group{% if form.mobile_phone.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_mobile_phone">{{ form.mobile_phone.label }}:</label>

                <div class="col-md-6">
                    <div class="input-group">
                        <span class="input-group-addon">+7</span>
                        {{ form.mobile_phone }}
                    </div>

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.mobile_phone.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <div class="form-group{% if form.captcha.errors %} has-error{% endif %}">
                <label class="col-md-3 control-label" for="id_captcha">{{ form.captcha.label }}:</label>

                <div class="col-md-4">
                    {{ form.captcha }}

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.captcha.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>

            <div class="form-group{% if form.mailing.errors %} has-error{% endif %}">
                <div class="col-md-offset-3 col-md-6">
                    <div class="checkbox">
                        <label>
                            {{ form.mailing }} {{ form.mailing.label }}
                        </label>
                    </div>

                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in form.mailing.errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>


            {#            <div class="form-group">#}
            {#                <div class="col-md-offset-3 col-md-6">#}
            {#                    <div class="checkbox">#}
            {#                        <label>#}
            {#                            <input type="checkbox"> Remember me#}
            {#                        </label>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}



            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <ul class="list-unstyled">
                        {% for error in form.non_field_errors %}
                            <li>{{ error|escape }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}


            <div class="form-group">
                <div class="col-md-offset-3 col-md-6">
                    <button type="submit" class="btn btn-primary">{% trans 'Create an account' %}</button>
                </div>
            </div>

        </form>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('#id_username').focus();
            $('#id_username').attr('required', true);
            $('#id_password1').attr('required', true);
            $('#id_password2').attr('required', true);
            $('#id_email').attr('required', true);
            $('#id_nls').attr('required', true);
            $('#id_captcha_1').attr('required', true);

            mySubmitAjaxForm("#search_form_name");
            mySubmitAjaxForm("#search_form_address");
        });
    </script>
{% endblock %}
