{% extends "base.html" %}
{% load tags i18n %}

{% block title %}{% trans 'Resend activation link' %}{% endblock %}
{% block page_title %}{% trans 'Resend activation link' %}{% endblock %}
{% block page_content %}


    <form id="resend_activation_form" class="form-horizontal" action="" method="post">
        {% csrf_token %}


        <div class="form-group{% if form.email.errors %} has-error{% endif %}">
            <label class="col-md-3 control-label" for="id_email">{{ form.email.label }}:</label>

            <div class="col-md-6">
                {{ form.email|add_css:'form-control,required:required' }}
                <ul class="help-block list-unstyled" style="margin: 1px 0">
                    {% for error in form.email.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="form-group{% if form.captcha.errors %} has-error{% endif %}">
            <label class="col-md-3 control-label" for="id_captcha">{{ form.captcha.label }}:</label>

            <div class="col-md-4">
                {{ form.captcha|add_css:'form-control,required:required' }}
                <ul class="help-block list-unstyled" style="margin: 1px 0">
                    {% for error in form.captcha.errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>


        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul class="list-unstyled">
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        <div class="form-group">
            <div class="col-md-offset-3 col-md-6">
                <button type="submit" class="btn btn-primary">{% trans 'Send' %}</button>
            </div>
        </div>

    </form>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#id_email').focus();
            mySubmitAjaxForm("#resend_activation_form", 'info');
        });
    </script>
{% endblock %}
