{% extends "base.html" %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% block title %}Скачать показания{% endblock %}

{% block page_title %}Скачать показания{% endblock %}

{% block page_content %}


    <form class="form-horizontal" method="post" action="">
        {% csrf_token %}

        {% for field in form %}


            <div class="form-group{% if field.errors %} has-error{% endif %}">

                <label class="col-md-2 control-label" for="{{ field.auto_id }}">{{ field.label }}: </label>

                <div class="col-md-4">
                    {{ field }}
                    <ul class="help-block list-unstyled" style="margin: 1px 0">
                        {% for error in field.errors %}
                            <li>
                                {{ error|escape }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>

        {% endfor %}


        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <ul class="list-unstyled">
                    {% for error in form.non_field_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="form-group">
            <div class="col-md-offset-2 col-md-4">
                <button type="submit" class="btn btn-primary">Загрузить файл</button>
            </div>
        </div>

    </form>



{% endblock %}


{% block js %}
    <script>
        $(function () {
            $('#id_date1, #id_date2').datepicker({
                format: "dd.mm.yyyy",
                weekStart: 1,
                language: "{{ LANGUAGE_CODE|slice:":2" }}",
                autoclose: true,
                todayHighlight: true,
                startDate: "-2y",
                endDate: "+2y"
            });
        });
    </script>
{% endblock %}

