{% load i18n tags %}
{% url 'news_list' as news_url %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Site news' %}</h3>
    </div>
    <div class="panel-body" style="padding: 1px">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            {% if news_list %}
                {% for news in news_list %}
                    <li class="{% current_nav news.get_absolute_url %}">
                        <a title="{{ news.title }}" href="{{ news.get_absolute_url }}">
                            <i class="glyphicon glyphicon-list-alt"></i> {{ news.title|truncatewords:3 }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li><a title="{% trans 'Not found' %}" href="#">{% trans 'Not found' %}</a></li>
            {% endif %}
            <li class="divider"></li>
            <li class="pull-right">
                <a title="{% trans 'More...' %}" href="{{ news_url }}" data-toggle="tooltip" data-placement="top">
                    {% trans "More..." %}
                </a>
            </li>
        </ul>
    </div>
</div>

