{% load tags %}
{% load i18n staticfiles %}

{% url 'edit_profile' as edit_profile %}
{% url 'auth_password_change' as auth_password_change %}
{% url 'auth_logout' as auth_logout %}
{% url 'home' as home_url %}


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" style="padding: 12px 16px 14px"
               href="/"><img style="width: 22px; height: 22px" src="{% static 'img/home.png' %}"
                             title="{% trans 'Home' %}" alt="{% trans 'Home' %}"></a>

            <div class="nav-collapse collapse">
                {#            <p class="navbar-text pull-right">#}
                {#              Logged in as <a href="#" class="navbar-link">Username</a>#}
                {#            </p>#}
                <ul class="nav">
                    {% for menu in top_menu_nodes %}
                        {% if menu.is_leaf_node %}
                            <li class="{% current_nav menu.get_absolute_url %}">
                                <a href="{{ menu.get_absolute_url }}">{{ menu.title }}</a>
                            </li>
                        {% else %}
                            {% url 'list_submenus' menu.id as submenu_url %}
                            <li class="{% current_nav submenu_url %}">
                                <a href="{{ submenu_url }}">{{ menu.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="divider-vertical"></li>
                </ul>
                <form id="google_search_form" class="navbar-form pull-left" action="{% url 'google_search' %}" method="get">
                    <input type="text" class="span2" placeholder="{% trans 'Type here...' %}" name="q">
                    <button type="submit" class="btn">{% trans 'Search' %}</button>
                </form>
                {% if request.user.is_authenticated %}
                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                {{ request.user.username }} <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ edit_profile }}">
                                        <i class="icon-edit"></i> {% trans 'Edit profile' %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ auth_password_change }}">
                                        <i class="icon-pencil"></i> {% trans 'Password change' %}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ auth_logout }}"><i class="icon-off"></i> {% trans 'Log out' %}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}

            </div>
            <!-- /.nav-collapse -->
        </div>
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->